<form action="/vote" method="get">

<div style="font-size:34px;background-color:#eee;padding:15px;border-bottom:2px solid #777;">
  For someone tagged <b><%= params[:tags] %></b> you should get:
  <br />
  <div style="font-size:14px;">
  &raquo; Do you like this recommendation?
  
    <input type="hidden" name="asin" value="<%= @item.asin %>" >
    <input type="hidden" name="like" value="true" >
    <input type="hidden" name="tags" value="<%= params[:tags] %>" >
  
<input type="submit" name="submit" value="Yes"> 
or
<input type="submit" name="submit" value="No"> 
or
<a href="/"><input type="button" value="Start Over"></a>
  </div>
</div>
</form>

<iframe src="<%= @item.referral_url %>" frameborder="0" scrolling="auto"></iframe>