<div id="wrap">
<% @products.each do |category| %>
  <span class="product index">
    <span class="description"><a href="<%= category[0].to_url %>">
    Best <%= category[0] %></a></span>
    <span class="pictures">
    <% category[1][0..5].each do |product| %>
      <a href="<%= category[0].to_url %>">
        <img width="60" height="60" src="<%= product.image %>">
      </a>
    <% end %>
    </span>
  </span>
</a>
<% end %>
</div>
<a href="/"><div style="font-size:1.8em;font-weight:bold;text-align:center;margin-top:20px;">show more products ...</div></a>