<html>
<head>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen">
</head>  
<body>
  <h1><a href="/"><img src="/logo.png"></a></h1>
  <div id="tagline">The best and highest rated products on Amazon.</div>  
    <%= yield %>
</body>
</html>