<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>gifts.alexkroman.com</title>
<style type="text/css">
body {font: 18px helvetica;}
table {width: 300px;}
table th {font-size: 24px;font-weight:bold;color:#000;}
table td {font-size: 18px;}
h2 {margin-bottom:5;}
</style>
</head>
<body>

<%= yield %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-173596-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>